<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.leeson.image_pickers">

    <uses-permission android:name="android.permission.CAMERA" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
    </queries>

    <application
        android:networkSecurityConfig="@xml/net_sec">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name=".activitys.PermissionActivity" android:theme="@style/TransTheme"/>
        <activity android:name=".activitys.SelectPicsActivity" android:theme="@style/TransTheme"/>
        <activity android:name=".activitys.PhotosActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"/>

    </application>
</manifest>
